{{>header}}
<div class="container">

    <div>
        {{>phonesList}}
    </div>
    <div>
        <form action="add" method="get">
            <input type="submit" value="Добавить" class="btn btn-info"/>
        </form>
    </div>
</div>
{{>footer}}
<script src="vanilla.js"></script>